<!DOCTYPE html>
<html>
<head>
	<title>Feeds</title>
<style>
a{
 text-decoration:none
}
</style>
</head>
<body style="background-color:gray;">
	
	<div style="background-color:rgb(44,237,14);margin-top:0px;padding:20px;">
		
		<h1 style="margin-left:50px;">
			<br/>Express Home - Account Manager <br/> <%= data.username %> ( <%= data.mail %> )
		</h1>
		
		<p style="margin-left:50px;"><%= data.bio %> Contact : <%= data.phone %></p>
		
		<a href="/generalController/logout" style="margin-left:900px;">Logout</a>
		<a href="/accountManager/profile" style="margin-left:10px;">Account</a>
		<a href="/accountManager/report" style="margin-left:10px;">Report Analysis</a>
		
	</div>
	
	<div style="float:left;width:18%;height:500px;background-color:white;padding:20px;">
		
		<br/><input type="text" style="width:60%;border-radius:15px;"><input type="button" style="border-radius:15px;background-color:dodgerblue;width:20%;" value="search">
		<br/><br/>User Accounts :
		<br/>
		
		<% for(var i=0; i < resultList.length; i++){ %>	
			<%= i+1 %> .&nbsp <a href="/accountManager/userAccountView<%= resultList[i].user_id %>"><%= resultList[i].username %></a><br/>
		<% } %>
		
	</div>
	
	<div style="float:left;width:54%;background-color:white;margin-left:5px;padding:20px;">
		<center><br/> Reported posts :
			<div style="width:90%;background-color:rgb(84,84,84);border-radius:15px;padding:15px">
				User1<br/>
				12 Feb 2020, 08:40PM<br/>
				Sample post writing....Sample post writing...Sample post writing....Sample post writing.....Sample post writing....Sample post writing...Sample post writing....Sample post writing....Sample post writing....Sample post writing....Sample post writing<br/><br/>
				29Likes * 3Comments
			</div>
			<div style="width:90%;background-color:rgb(84,84,84);border-radius:15px;padding:15px;margin-top:5px">
				User2<br/>
				12 Feb 2020, 08:40PM<br/>
				Sample post writing....Sample post writing...Sample post writing....<br/><br/>
				29Likes * 3Comments
			</div>
			<div style="width:90%;background-color:rgb(84,84,84);border-radius:15px;padding:15px;margin-top:5px">
				User3<br/>
				12 Feb 2020, 08:40PM<br/>
				Sample post writing....Sample post writing...Sample post writing....Sample post writing.....Sample post writing....Sample post writing...Sample post writing....<br/><br/>
				29Likes * 3Comments
			</div>
			<div style="width:90%;background-color:rgb(84,84,84);border-radius:15px;padding:15px;margin-top:5px">
				User4<br/>
				12 Feb 2020, 08:40PM<br/>
				Sample post writing....Sample post writing...Sample post writing....Sample post writing.....Sample post writing....Sample post writing...Sample post writing....Sample post writing....Sample post writing....Sample post writing....Sample post writing<br/><br/>
				29Likes * 3Comments
			</div>
		</center>
		
	</div>
	<div style="float:left;width:18%;background-color:white;margin-left:5px;padding:20px;">
		<center>
			<br/>Notifications :
			
			
			
			<div style="width:90%;background-color:rgb(144,144,144);border-radius:15px;padding:15px">
				Inactivity Found<br/>
				12 Feb 2020, 08:40PM<br/>
				Account inactivity Found, Please Review this, Account anonymous access platform<br/><br/>
			</div>
			
		</center>
	</div>
</body>
</html>