<!DOCTYPE html>
<html>
<head>
	<title>Profile Page - Account Manager</title>
</head>
<body style="background-color:gray;">
	<div style="height:150px;background-color:rgb(44,237,14);margin-top:0px;">
		<h1 style="margin-left:50px;">
			<br/>Express Profile - Account Manager
		</h1>
		<a href="/generalController/logout" style="margin-left:900px;">Logout</a>
		<a href="/accountManager/home" style="margin-left:10px;">Back</a>
	</div>

	<div style="float:left;width:60%;height:500px;background-color:white;margin-left:200px;padding:20px">
		<center><br/>
			Profile information of - <%= username %> <hr>
			Name : <%= username %><br/>
			email : <%= username %>@express.com <br/>
			Phone : 017XX XXXXXX<br/>
			Username : <%= username %> <br/>
			Gender : Male.<br/>
			Birthdate: 30th Feb 2020.<br/><br/>
			<a href="/accountManager/editProfile">Update Information</a>
			<!--<input type="button" style="border-radius:15px;background-color:dodgerblue;" value="Edit Information">-->
			<hr/>
			<div style="width:90%;background-color:rgb(84,84,84);border-radius:15px;padding:15px">
				<%= username %><br/>
				12 Feb 2020, 08:40PM<br/>
				Sample post writing..........<br/><br/>
				29Likes * 3Comments
			</div>
			<div style="width:90%;background-color:rgb(84,84,84);border-radius:15px;padding:15px;margin-top:5px;">
				<%= username %><br/>
				12 Feb 2020, 08:40PM<br/>
				Sample post writing..........<br/><br/>
				29Likes * 3Comments
			</div>
			<div style="width:90%;background-color:rgb(84,84,84);border-radius:15px;padding:15px;margin-top:5px;">
				<%= username %><br/>
				12 Feb 2020, 08:40PM<br/>
				Sample post writing..........<br/><br/>
				29Likes * 3Comments
			</div>
		</center>
	</div>

</body>
</html>